*,
::after,
::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  font-size: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-clr-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-clr-blue: #0033a0;
  --primary-clr-white: #ffffff;
  --primary-clr-black: #000000;
  --clr-blue-1: #1947aa;
  --clr-blue-2: #002e90;
  --clr-blue-3: #002980;
  --clr-blue-4: #002470;
  --light-blue-1: #335cb3;
  --light-blue-2: #4d70bd;
  --light-blue-3: #6685c6;
  --light-blue-4: #8099d0;
  --dark-blue-1: #001f60;
  --dark-blue-2: #001a50;
  --dark-blue-3: #001440;
  --dark-blue-4: #000f30;
  --grey-1: #b3c2e3;
  --grey-2: #ccd6ec;
  --grey-3: #e6ebf6;

  /* rest of vars */
  --background-color: var(--primary-clr-blue);
  --textColor-white: var(--primary-clr-white);
  --textColor-blue: var(--primary-clr-blue);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fluid-width: 90vh;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* 
====================
PROJECT CSS
====================
*/
body {
  margin: 0;
  background-color: var(--background-color);
}
/* 
====================
PROJECT CSS
====================
*/
nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-clr-white);
}
.nav-center {
  width: var(--fluid-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-top: 0;
  margin-left: 0;
  color: var(--textColor-blue);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-weight: 700;
}
.toggle-btn {
  font-size: 1.5rem;
  /* width: 2rem;
  height: 2rem; */
  background: transparent;
  border: none;
  /* border-color: var(--primary-clr-blue); */
  /* border-radius: var(--borderRadius); */
  /* border-color: transparent; */
  color: var(--primary-clr-blue);
  transition: var(--transition);
  cursor: pointer;
}
.toggle-btn:hover {
  transform: scale(1.25);
}
